/* Button.module.css */
.primaryButton {
    padding: 12px 24px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #367162;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    /* Add gradient for depth */
    /* background-image: linear-gradient(to bottom, #4CAF50, #367162); */
    /* Add shadow for 3D effect */
    box-shadow: 0 5px 2px #28594c;
    position: relative;
}

/* .primaryButton:hover {
    background-color: #3e8e41;
} */

.primaryButton:active {
    top: 5px;
    box-shadow: 0 0 0 #28594c;
}