/* Footer Styling */
.footer {
  background-color: #141e3f;
  color: #CCCCCC;
  font-family: 'Helvetica', sans-serif;
}

/* Wavy Separator at the Top of Footer */
.footer-separator {
  width: 100%;
  height: auto;
  margin: 0;
  overflow: hidden;
}

.footer-separator svg {
  width: 100%;
  height: 100px;
  display: block;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-section h3 {
  color: #00CC99;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-section p,
.footer-section ul {
  font-size: 0.9rem;
  line-height: 1.5;
}

.footer-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-link:hover {
  color: #00cc99;
}

/* Footer Subsections */
.footer-subsections {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.subsection {
  flex: 1;
}

.subsection h4 {
  color: #00CC99;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.subsection ul {
  list-style: none;
  padding: 0;
}

.subsection ul li {
  margin-bottom: 0.5rem;
}

/* Social Media Icons */
.social-media .social-icons {
  display: flex;
  gap: 1rem;
}

.social-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-size: cover;
  transition: transform 0.3s;
}

.social-icon.facebook {
  background-image: url('../assets/Images/flogo.png');
}

.social-icon.twitter {
  background-image: url('../assets/Images/xlogo.png');
}

.social-icon.instagram {
  background-image: url('../assets/Images/instalogo.png');
}

.social-icon.linkedin {
  background-image: url('../assets/Images/linkedinlogo.png');
}

.social-icon.talk {
  background-image: url('../assets/Images/talk.png');
}

.social-icon:hover {
  transform: scale(1.2);
}

/* Footer Bottom */
.footer-bottom {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.85rem;
  border-top: 1px solid #666666;
  padding-top: 1rem;
}
