/* src/styles/Frame.module.css */

.overlay {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  z-index: 2;
  pointer-events: none; /* Allow interactions to pass through */
}

.heading1 {
  justify-items: center;
  font-size: 3rem;
  margin: 0;
  pointer-events: none; /* Allow interactions to pass through */
  
}

.solvingGlobalIssuesContainer {
  margin: 0;
  align-self: center;
  pointer-events: none; /* Allow interactions to pass through */
  color: #fff;
}

.container1 {
  font-size: 1.5rem; /* 24px */
  margin-top: 0.625rem; /* 10px */
  pointer-events: none; /* Allow interactions to pass through */
}

.subheading {
  margin: 0;
  pointer-events: none; /* Allow interactions to pass through */
}

/* Updated button styles */
.button {
  margin-top: 1.25rem; 
  padding: 0.8rem 1.5rem 0.8625rem;
  font-size: 1.25rem;
  font-family: 'Helvetica75', sans-serif;
  border: none;
  border-radius: 0.3125rem;
  background-color: #00cc99;
  color: #fff;
  cursor: pointer;
  z-index: 3; /* Ensure the button is above other elements */
  pointer-events: auto; /* Enable pointer events for the button */
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #009977;
}
