/* Frame.module.css */
.overlay {
  position: absolute;
  width: 100%; /* Inherit the width of the hero */
  bottom: 10px; /* Adjust vertical position */
  left: 0;
  right: 20px;
  display: flex;
  align-items: center;
  color: #fff;
  z-index: 1; /* Ensure the overlay is above the globe */
}

/* Center content when displaying Frame */
.overlay {  flex-direction: column;
  justify-content: center;
  pointer-events: none; /* Disable interactions */
}


.heading1 {
  justify-items: center;
  font-size: 48px;
  margin: 0;
}

.solvingGlobalIssuesContainer {
  margin: 0;
  align-self: center;
}

.container1 {
  font-size: 24px;
  margin-top: 10px;
}

.subheading {
  margin: 0;
}

.button {
  margin-top: 20px;
  padding: 12.8px 24px 13.8px;
  font-size: 20px;
  font-family: 'Helvetica75', sans-serif;
  border: none;
  border-radius: 5px;
  background-color: #00cc99;
  color: #fff;
  cursor: pointer;
  z-index: 2;
  pointer-events: auto; /* Enable button clicks */
}