/* src/styles/Frame.module.css */

.overlay {
  position: absolute;
  width: 100%;
  bottom: 0.625rem; /* 10px */
  left: 0;
  right: 1.25rem; /* 20px */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  z-index: 2;
}

.heading1 {
  justify-items: center;
  font-size: 3rem;
  margin: 0;
}

.solvingGlobalIssuesContainer {
  margin: 0;
  align-self: center;
}

.container1 {
  font-size: 1.5rem; /* 24px */
  margin-top: 0.625rem; /* 10px */
}

.subheading {
  margin: 0;
}
