.hero {
  position: relative;
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-family: 'Helvetica-Regular', sans-serif; /* Set default font family */
  overflow: hidden; /* Ensure no overflow beyond the viewport */
}

/* Video Container */
.hero-video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the video behind the content */
  overflow: hidden; /* Prevent video overflow */
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video fills the container */
}

/* Content Styling */
.hero-content {
  max-width: 800px;
  z-index: 2; /* Ensure content is above the video */
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: 'Helvetica75-Bold', sans-serif; /* Bold font for heading */
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-family: 'Helvetica-Regular', sans-serif; /* Regular font for paragraph */
}

/* Buttons Styling */
.hero-buttons .btn-learn,
.hero-buttons .btn-involved {
  margin: 0 0.5rem;
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.hero-buttons .btn-learn {
  background-color: #00CC99;
  color: black;
}

.hero-buttons .btn-learn:hover {
  transform: scale(1.05); /* Slight zoom effect */
}

.hero-buttons .btn-involved {
  background-color: white; /* Lab4GPS Blue */
  color: #141e3f;
}

.hero-buttons .btn-involved:hover {
  transform: scale(1.05); /* Slight zoom effect */
}