/* src/styles/Problems.module.css */

.problems {
  width: 98%;
  margin: 0 !important;
  font-family: Helvetica75, sans-serif;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none; /* Allow interactions to pass through */
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none; /* Allow interactions to pass through */
}

.problemsTitle {
  font-size: 61px;
  line-height: 73.2px;
  pointer-events: none;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  pointer-events: none;
}

.notSolved523Container {
  text-align: center;
  flex: 1;
  pointer-events: none;
}

.notSolved {
  margin: 0;
  line-height: 46.8px;
  font-size: 39px;
  font-family: Helvetica, sans-serif;
  pointer-events: none;
}

.boldH3 {
  margin: 0;
  line-height: 73.2px;
  font-size: 61px;
  font-family: Helvetica75, sans-serif;
  pointer-events: none;
}

.featuredProblem {
  text-align: center;
  margin-top: 30px;
  pointer-events: none;
}

.featuredTitle {
  font-size: 39px;
  line-height: 46.8px;
  font-family: Helvetica, sans-serif;
  margin: 0;
  pointer-events: none;
}

.featuredContent {
  margin: 10px 0 0 0;
  pointer-events: none;
}

.quote {
  font-size: 50px;
  font-family: Inter, sans-serif;
  pointer-events: none;
}

.problemText {
  font-size: 39px;
  text-decoration: underline;
  line-height: 46.8px;
  font-family: 'Helvetica Light', sans-serif;
  pointer-events: none;
}

.addButton {
  pointer-events: auto; /* Enable pointer events for the Add button */
}
