/* src/components/Problem&Solution/SNSBodyContent.module.css */

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%; 
  gap: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px;
  height: 100%;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  justify-items: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .cardsContainer {
    grid-template-columns: 1fr;
  }
}
